* {
    --bs-body-bg: #f8f9fa;
    --bs-body-color: #344767;
}

hr {
    background-color: #aaa;
    margin: 2rem 0;
}

body {
    padding-top: 1rem;
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 4rem;
    }
}

header {
    font-size: 2.25rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.header-text {
    margin-top: -5px;
    margin-left: 2rem;
}

.flag {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 4rem;
    height: 3rem;
}

.main-section {
    text-align: center;
    margin: 6rem 0;
}

.stats-section {
    text-align: center;
}

.progressbar-container {
    --height: 3rem;
    height: var(--height);
    display: block;
    margin: 3rem auto;
    border: 1px solid white;
    background: white;
    border-radius: calc(2 * var(--height));
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    width: 95%;
}

.progressbar {
    --margin: 0.5rem;
    --progress-color: #2ecc71;
    --progress-value: 0%;
    display: block;
    border-radius: calc(2 * var(--height));
    height: calc(100% - 2 * var(--margin));
    margin: var(--margin);
    background-color: var(--progress-color);
    box-shadow: 0px 0px 6px 0px var(--progress-color);
    color: white;
    text-align: center;
    padding-top: 2px;
    width: calc(var(--progress-value) - 2 * var(--margin));
    transition-duration: 0.3s;
}
.vacc-progress-bar-progress.low {
    color: #445;
    text-align: left;
    transition-duration: 0.3s;
}

.card {
    text-align: left;
    display: inline-block;
    border: 0;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0;
    opacity: 0.8;
}

.card-text {
    font-size: 1.15rem;
    font-weight: 700;
}

.card-icon-container {
    display: flex;
    align-items: center;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    width: 3rem;
    height: 3rem;
    color: white;
    border-radius: 0.5rem;
    background-color: gray;
    background-image: linear-gradient(310deg, #141727, #3a416f);
    /*background-image: linear-gradient(310deg, #2152ff, #21d4fd);
    background-image: linear-gradient(310deg, #f53939, #fbcf33);
    background-image: linear-gradient(310deg, #ea0606, #ff667c);
    background-image: linear-gradient(310deg, #7928ca, #ff0080);*/
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.card-icon > i {
    opacity: 0.95;
}

footer {
    margin-top: 4rem;
    font-size: 0.75rem;
}
